
<section class="btn-nav">
        <button id="new-news-btn">new news</button> | <a href="saved-comments"><button>saved comments</button></a>
    </section>

    <section id="news-section"></section>

	<script src="assets/js/app.js" type="text/javascript"></script>